<div class="row">
  <div class="col"></div>
  <div class="col-md-10">
    <h1 style="text-align: center; margin-top: 5%;">Edição de Projeto</h1>

    <br>

    <%= form_with(model: @project, local: true) do |form| %>
      <p>
        <strong><%= form.label :nome %><br></strong>
        <%= form.text_field :nome, style: 'width: 50%' %>
      </p>
     
      <p>
        <strong><%= form.label :cliente %><br></strong>
        <%= form.text_field :cliente, style: 'width: 50%' %>
      </p>
     
      <p>
        <%= form.submit "Salvar Projeto", class: 'btn btn-lg btn-primary' %>
      </p>

    <% end %>

    <%= link_to '← Voltar Para Lista de Projetos', projects_path %>
  </div>
  <div class="col"></div>
</div>