<div class="row">
  <div class="col"></div>
  <div class="col-md-10">
    <h1 style="text-align: center; margin-top: 5%;">Crie um Novo Projeto</h1>

    <br>

    <div style="color: red">
      <% if @project.errors.any? %>
        <div id="error_explanation">
          <p>
            <strong>Alguns errors impediram esse novo projeto de ser criado.</strong>
          </p>
          <ul>
            <% @project.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <%= form_with scope: :project, url: projects_path, local: true do |form| %>
      <p>
        <strong><%= form.label :nome %><br></strong>
        <%= form.text_field :nome, style: 'width: 50%' %>
      </p>
     
      <p>
        <strong><%= form.label :cliente %><br></strong>
        <%= form.text_field :cliente, style: 'width: 50%' %>
      </p>
     
      <p>
        <%= form.submit "Criar Projeto", class: 'btn btn-lg btn-primary' %>
      </p>

    <% end %>

    <%= link_to 'â† Voltar Para Lista de Projetos', projects_path %>
  </div>
  <div class="col"></div>
</div>