<h1 style="text-align: center; margin-top: 5%;">Visualização de Projeto</h1>

<br>

<h4>
  <strong>Nome:&nbsp;</strong>
  <%= @project.nome %>
</h4>
 
<h4>
  <strong>Cliente:&nbsp;</strong>
  <%= @project.cliente %>
</h4>


<% if @unarquived_notes_count > 0 %>
<br>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Notas</th>
        <th>Ação</th>
      </tr>
    </thead>
   
   <tbody>
    <% @project.notes.order(created_at: :desc).each do |note| %>
      <% if !note.arquived %>
        <tr>
          <td><%= note.texto %></td>
          <td>
            <%= link_to 'Arquivar', arquive_note_path(note)%>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
<% end %>

<br>

<% if !@comment.blank? && @comment.errors.any? %>
  <div id="error_explanation" style="color: red">
    <p>
      <strong>Alguns errors impediram essa nova nota de ser criada.</strong>
    </p>
    <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<p>Crie uma nova nota:</p>
<%= form_with(model: [ @project, @project.notes.build ], local: true) do |form| %>
  <p>
    <%= form.text_area :texto, style: 'width: 50%' %>
  </p>
  <p>
    <%= form.file_field :file %>
  </p>
  <p>
    <%= form.submit "Criar Nota", class: 'btn btn-md btn-primary' %>
  </p>
<% end %>

<br>

<%= link_to '← Voltar Para Lista de Projetos', projects_path %>